package {{pkg}};

import lombok.Data;
{% for i in imports %}
import {{i}};
{% endfor %}

@Data
public class {{name}} {

   {% for f in fields %}
   /**
   *
   * {{f.comment}}
   */
   private {{f.type}} {{f.name}};
   {% endfor %}
}